apiVersion: v1
kind: Secret
metadata:
  name: derp-secret
type: Opaque
stringData:
  TS_AUTHKEY: "your-auth-key-here"  # your-auth-key-here 
  CLOUDFLARE_API_TOKEN: "your-cloudflare-api-token-here"
---
apiVersion: v1
kind: Secret
metadata:
  name: derp-debug-key
type: Opaque
stringData:
  key: "customderp" # keep this